/.mypy_cache
/.vscode
/env
*.log
*.pot
*.pyc
polls/__pycache__
mysite/__pycache__
polls/migrations
db.sqlite3
media
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history